<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @bizspec.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @bizspec.name %>
</p>

<p>
  <b>Address:</b>
  <%= @bizspec.address %>
</p>

<p>
  <b>City:</b>
  <%= @bizspec.city %>
</p>

<p>
  <b>Province:</b>
  <%= @bizspec.province %>
</p>

<p>
  <b>Country:</b>
  <%= @bizspec.country %>
</p>

<p>
  <b>Tel:</b>
  <%= @bizspec.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @bizspec.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @bizspec.email %>
</p>

<p>
  <b>Website:</b>
  <%= @bizspec.website %>
</p>

<p>
  <b>Btype:</b>
  <%= @bizspec.btype %>
</p>


<%= link_to 'Edit', edit_bizspec_path(@bizspec) %> |
<%= link_to 'Back', bizspecs_path %>
