<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
	    <tbody>
		<br>
	    	<tr>
	        	<td> First Name</td> 
	            <td> <%= @user.spec.name %> </td>
	        </tr>
	
	    	<tr>
				<td> Last Name </td> 
		 		<td><%= @user.spec.lastname %>  </td> 
			</tr>
				
		<tr>
			<td> Sex </td> 
			<td><%= @user.spec.sex %>  </td> 
		</tr>
	
	<tr>
		<td> Date_of_Birth  </td> 
		<td><%= @user.spec.birth %> </td>   	
	</tr>

	
	<tr>	
	<td>About me   </td> 
	<td><%= @user.spec.whoIam %> </td> 
	</tr>
	
		<tr>	
<td>	Country </td> 
<td><%= @user.spec.country %> </td> 
	</tr>
	
	<tr>
<td>	Company </td> 
<td><%= @user.spec.company %> </td> 
	</tr>
	
	    <tr>		
	<td>	Position</td> 
	<td><%= @user.spec.position %> </td> 
		</tr>
		
		<tr>
	<td>website </td>  
	<td><%= @user.spec.website %> </td> 
		</tr>
 </tbody>  
</table>  

  