<table id="one-column-emphasis" summary="2007 Major IT Companies' Profit">
    <colgroup>
    	<col class="oce-first" />
    </colgroup>
	    <tbody>
		<br>
		<tr>
        	<td> Company Name</td> 
            <td> <%= @user.bizspec.name %> </td>
        </tr>
	    	<tr>
	        	<td> About us</td> 
	            <td> <%= @user.bizspec.whoiam %> </td>
	        </tr>
	
	    	<tr>
				<td> Address </td> 
		 		<td><%= @user.bizspec.address %>  </td> 
			</tr>
				
		<tr>
			<td> City </td> 
			<td><%= @user.bizspec.city %>  </td> 
		</tr>
	
	<tr>
		<td> Province  </td> 
		<td><%= @user.bizspec.province %> </td>   	
	</tr>

	
	<tr>	
	<td>Country   </td> 
	<td><%= @user.bizspec.country %> </td> 
	</tr>
	
		<tr>	
<td>	Tel</td> 
<td><%= @user.bizspec.tel %> </td> 
	</tr>
	
	<tr>
<td>	fax </td> 
<td><%= @user.bizspec.fax %> </td> 
	</tr>
	
	    <tr>		
	<td>	Email</td> 
	<td><%= @user.bizspec.email %> </td> 
		</tr>
		
		<tr>
	<td>website </td>  
	<td><%= @user.bizspec.website %> </td> 
		</tr>
			<tr>
		<td>Business Type </td>  
		<td><%= @user.bizspec.btype %> </td> 
			</tr>
 </tbody>  
</table>  

