<p id="notice"><%= notice %></p>

<p>
  <b>Obj:</b>
  <%= @category2.obj_id %>
</p>

<p>
  <b>Category:</b>
  <%= @category2.category %>
</p>


<%= link_to 'Edit', edit_category2_path(@category2) %> |
<%= link_to 'Back', category2s_path %>
