<p id="notice"><%= notice %></p>

<p>
  <b>Obj:</b>
  <%= @album.obj_id %>
</p>

<p>
  <b>Caption:</b>
  <%= @album.caption %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
